<h2 class="h5">About the business</h2>
<div class="card-owner">
  <div>
    <%= image_tag user_avatar(@listing.user), class:"image fluid rounded-start", alt:""%>
  </div>
  <div class="card-body">
    <p>We specialise in providing the very best in waste removal for every possible situation.
       Our clearance company is here to make sure that you get exactly what you need. If you have any  questions
       you can contact us directly.</p>
      <div class="footer">
        <div class="footer-left">
          <h6><%= @listing.user.first_name+ ' '+@listing.user.last_name %></h6>
          <div class="text-muted">
            Director of Operations
          </div>
          <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2" href="#">
            <i class="fa-brands fa-facebook-f"></i></a>
          <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2" href="#">
            <i class="fa-brands fa-twitter"></i></a>
          <a class="btn btn-icon btn-light-primary btn-xs shadow-sm rounded-circle me-2 mb-2" href="#">
            <i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footer-right">
          <span class="star-rating">
          <% unless @listing.reviews.empty? %>
            <%= icon('fa-solid', 'star', class:'text-warning') * @listing.average_rating.round(2) %>
          <% end %>
          </span>
          <div class="text-muted"><%= @listing.reviews.count %> reviews</div>
        </div>
      </div>
  </div>
</div>
