#search-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

// listing show right side cards. n.b these must be DRY refactored in one component

.card-details{
  display: flex;
  border: 1px solid #efecf3;
  padding: 1.25rem;
  border-radius: 0.75rem;
  background-color: rgb(232, 248, 237);
}

.list-unstyled .fa-solid {
  color: $mauve;
  height: 18px;
  width: 18px;
}

.carousel-indicators > .active .thumb {
  border: 1.25px solid $orange;
  }
