<div class="container">
  <h1>Book the listing: <%= @listing.title %></h1>

  <%= form_with model: [@listing, @booking] do |f| %>
    <%= f.text_field :collection_date,
      data: {
        controller: "flatpickr",
        flatpickr_date_format: "Y-m-d",
        flatpickr_min_date: Time.current,
        flatpickr_max_date: Time.current + 90.days,
        flatpickr_disable: @booked_dates
      },
      placeholder: "Select a date" %>
    <%= f.submit "Confirm Booking" %>
<% end %>
</div>
