<div class="container">
  <div class="confirm">
    <img id="image" src="<%= asset_path('confirmation.png') %>" alt="image-1">
    <h2 id="title">You have booked your Recycling!</h2>
    <h4 id="title">Thank you for helping the mother earth. </h4>
    <p>Date: <%= @booking.collection_date.strftime('%B %e, %Y') %></p>
    <p>Company: <%= link_to @booking.listing.title, listing_path(@booking.listing) %></p>
    <%= link_to root_path do %>
        <p class="btn btn-primary">Back to Home</p>
        <% end %>
  </div>
</div>
