<section class="about section-bg">
  <div class="container">
    <div class="section-title text-center">
      <h2>About</h2>
      <h3>Find Out More <span>About Us</span></h3>
      <p>Redore can recycle the hard-to-recycle because we work with brands and retailers who fund the recycling process.</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid" src="<%= asset_path('cardhome-image1.jpg') %>" alt="image-1">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center">
        <h3>Recycle everything with Redore</h3>
        <p>
          Redore is different from your local curbside recycler. We develop recycling solutions for waste streams that are not typically curbside recyclable.
          What makes something municipally recyclable depends on whether your local recycling company can make a profit recycling it.
          If the cost of collecting and processing the waste is lower than the value of the resulting raw material, it will likely be locally recyclable.
          If the costs are higher, then it likely won’t be.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <h3>Research & development</h3>
        <p>
        Our process starts with our R&D team—in-house scientists and material application specialists who work across our various offices and collaborate with leading universities.
        The R&D team analyzes the materials to determine the right way to process them into something new.
        This includes how to break down the waste, separate it into its building blocks, and then recycle those materials for new applications.
        </p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid" src="<%= asset_path('cardhome-image2.jpg') %>" alt="image-1">
      </div>
    </div>
      <div class="row">
        <div class="col-lg-6">
        <img class="img-fluid" src="<%= asset_path('cardhome-image3.jpg') %>" alt="image-1">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center">
          <h3>Cleaning & processing</h3>
          <p>
            Once sorted by category, the different material types are cleaned and then sent to third-party partners to process the materials into usable forms.
            For example, metals and aluminum are shredded and smelted into metal sheeting, ingots, or bar stock. Glass is crushed and melted to be used in new glass bottles (if clear), or brick, cement, or concrete applications (if colored). Rubber is generally cryo-milled into a powdered state for flooring applications. Organics are composted or used in industrial and commercial fertilizers.
          </p>
        </div>
      </div>
    <br>
  </div>
</section>
