<div class="container">
  <!-- Card based steps -->
  <div class="row justify-content-center gx-5">
    <div class="col-md-4" style="max-width: 24rem;">
      <div class="card card-hover card-body border-0 bg-transparent">
        <%= image_tag image_url("how_to_search.png"), class: "card-img-top p-5" %>
        <div class="d-flex mt-3">
          <div class="h2 text-primary my-2">1</div>
          <div class="ms-3 mt-3">
            <h3 class="h5 card-title">Search Listings</h3>
            <p class="card-text fs-sm">Search for businesses that can collect and recycle your domestic or commercial waste.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="max-width: 24rem;">
      <div class="card card-hover card-body border-0 bg-transparent">
        <%= image_tag image_url("how_to_book.png"), class: "card-img-top p-5" %>
        <div class="d-flex mt-3">
          <div class="h2 text-primary my-2">2</div>
          <div class="ms-3 mt-3">
            <h3 class="h5 card-title">Book Online</h3>
            <p class="card-text fs-sm">Tell us which day and time works best for you. We even offer same-day collections.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="max-width: 24rem;">
      <div class="card card-hover card-body border-0 bg-transparent">
        <%= image_tag image_url("how_to_collect.png"), class: "card-img-top p-5" %>
        <div class="d-flex mt-3">
          <div class="h2 text-primary my-2">3</div>
          <div class="ms-3 mt-3">
            <h3 class="h5 card-title">Wait for Collection</h3>
            <p class="card-text fs-sm">Our friendly team will remove and recycle your domestic or commercial waste.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
