<% if @listing.reviews.present? %>
  <div class="mb-4 pb-4 border-bottom">
    <h3 class="h4 pb-3">
      <i class="fa-solid fa-star mt-n1 me-2 lead align-middle text-warning"></i>
        <%= @listing.average_rating.round(2) %> (<%= @listing.reviews.count %> customer reviews)
    </h3>
    <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between">
      <% unless current_user == @listing.user %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-pen-to-square me-1"></i>Leave review
      </button>
      <% end %>
      <!-- TODO Sort by options on the right side -->
      <div class="d-flex align-items-center ms-sm-4">
        <label class="me-2 pe-1 text-nowrap" for="reviews-sorting"><i class="fa-solid fa-sort text-muted mt-n1 me-2"></i>Sort by:</label>
        <select class="form-select" id="reviews-sorting">
          <option>Newest</option>
          <option>Oldest</option>
          <option>Popular</option>
          <option>High rating</option>
          <option>Low rating</option>
        </select>
      </div>
    </div>
  </div>
  <!-- review -->
  <div class="mb-4 pb-4 border-bottom">
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex align-items-center pe-2">
        <img class="rounded-circle me-1" src="" width="48" alt="Avatar">
        <div class="ps-2">
          <h6 class="fs-base mb-0">John Doe</h6>
          <span class="star-rating">
            <i class="star-rating-icon fa-solid fa-star active"></i>
          </span>
        </div>
      </div>
      <span class="text-muted fs-sm">Jan 17, 2021</span>
    </div>
    <p>
      Elementum ut quam tincidunt egestas vitae elit, hendrerit. Ullamcorper nulla amet lobortis elit, nibh condimentum enim.
    </p>
    <div class="d-flex align-items-center">
      <button class="btn-like" type="button">
        <i class="fa-regular fa-thumbs-up"></i>
        <span>(3)</span>
      </button>
      <div class="border-end me-1">&nbsp;</div>
      <button class="btn-dislike" type="button">
        <i class="fa-regular fa-thumbs-down"></i>
        <span>(0)</span>
      </button>
    </div>
  </div>
<% else %>
  <div class="mb-4 pb-4 border-bottom">
    <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch justify-content-between">
      <h3 class="h4 pb-3">
      No reviews yet
      </h3>
    </div>
  </div>
<% end %>
