<div class="container">
  <h1 class="fs-3 text-center my-4 fw-bold">Add a new collection day to your listing</h1>
  <%= simple_form_for [@listing, @collection_date] do |f| %>
    <%= f.input :date %>
    <%= f.submit class: "btn btn-primary text-light", id: "submit-button" %>
  <% end %>
</div>
