<section class="d-flex flex-wrap-reverse align-items-center text-center" style="border-style: solid; height:500px">
    <div class="container">
      <h1>Collecting recycle  <span>at your doorstep</span></h1>
      <h2>Helping you to Recycle, donate or repair your items in just a few clicks</h2>
      <%= render "shared/search" %>
    </div>
</section>
<br>
<br>
<%= render "shared/homecard" %>
