<section class="d-flex align-items-center text-center" style="height:500px">
  <div class="container pt-5 my-5 pb-lg-4">
    <div class="row pt-3 pt-md-2 pt-lg-0">
    <div class="col-xl-7 pt-5 col-lg-6 col-md-5 order-md-2 mb-4 mb-lg-3">
    <img class="back-img" src="<%= asset_path('background-img.png') %>" alt="Hero image">
    </div>
    <div class="col-xl-5 col-lg-6 col-md-7 order-md-1 pt-xl-5 pe-lg-0 mb-3 text-md-start text-center">
      <h1 class="display-4 mt-lg-5 mb-md-4 mb-3 pt-md-4 pb-lg-2">Collecting recycle <br> at your doorstep</h1>
      <p class="position-relative lead me-lg-n5">Helping you to Recycle, donate or repair your <br> items in just a few clicks.</p>
    </div>
    </div>
    <%= render "shared/search" %>
  </div>
</section>

<%= render "shared/how_to_cards" %>
<%= render "shared/homecard" %>
