<div class="container d-flex align-items-center">
      <h1>Collecting recycle  <span>at your doorstep</span></h1>
      <h2>Helping you to Recycle, donate or repair your items in just a few clicks</h2> 
</div>
