#cards{
  margin-top: 80px;
  margin-bottom: 80px;
}

.card-product{
  border-radius: .75rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  a{
    text-decoration: none;
    color: rgb(10, 10, 10);
  }

  .card-product-body{

    .title{
      padding-top: 20px;
      margin-inline: 20px;
      text-align: center;
      text-decoration: none;
      h3{
        font-weight: bolder;
        color: $mauve;

        &:hover,
        &:focus {
          color: $primary;
          transition: color .2s ease-in-out;
        }
      }
      color: $mauve;
      border-bottom: 0.7px solid rgba(69, 64, 86, 0.2);
    }

    .card-product-footer{
      font-size: 18px;
      font-weight: 500;
      color: $mauve;
      padding-inline: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .details{
      padding-top: 10px;
      font-weight: lighter;
      color: rgb(55, 55, 55);
      text-align: center;
      padding-inline: 20px;
      text-rendering: geometricPrecision;
    }
  }
}
