.navbar-redore {
  justify-content: space-between;
  background: $white;
}

.navbar-redore .navbar-collapse {
  flex-grow: 0;
}

.navbar-redore .navbar-brand img {
  width: 116px;
  height: 54px;
  object-fit: cover;
}
  .navbar-nav {
    .nav-link {
      color: $mauve;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $orange;
      }
    }
  }

  .dropdown-menu {
    .dropdown-item {
      color: $mauve;
      font-weight: 400;

      &:hover,
      &:focus {
        color: $orange;
        background: transparent;
      }
    }
  }
