.navbar-redore {
  justify-content: space-between;
  background: $white;
}

.navbar-redore .navbar-collapse {
  flex-grow: 0;
}

.navbar-redore .navbar-brand img {
  width: 116px;
  height: 54px;
  object-fit: cover ;
}
